/*COLORES #FFFFFF #4C76EB #0641E2 #03237C #0D1C45 */
/*font-family: 'Bitter', serif;
font-family: 'Libre Baskerville', serif; */
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;1,400;1,600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #0D1C45;
  width: 100%;
  height: 100vh;
}

#encabezado {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.navbar a {
  font-size: x-large;
  padding: 0.5rem 2.5rem 0.5rem 2rem;
}

.navbar a:hover {
  color: #4C76EB;
}

.navbar img {
  width: 210px;
  height: 100px;
  /*height: 100px; 
  width: 210px;  ANCHO*/
}

#grillaindex {
  width: 100%;
}

.index_main {
  width: 90%;
  margin-top: 8.5rem;
  margin-left: 3rem;
  /*margin-top: 8.5rem;
  margin-left: 3rem;*/
}
.index_main p {
  width: 95%;
}

.sectiontop5 h4, .sectiontop5 li {
  margin-top: 1.5rem;
  margin-left: 3rem;
}
.sectiontop5 li {
  list-style-type: none;
}

.sectionclientes {
  width: 100%;
  /*.carousel{
      display: flex;
      justify-self: center;
  }
  .carousel-item{
      @extend .carousel-inner;
  }*/
}
.sectionclientes h4, .sectionclientes .sectiontop5 li, .sectiontop5 .sectionclientes li {
  margin-top: 0.5rem;
  margin-left: 3rem;
}
.sectionclientes img {
  width: 640px;
  height: 350px;
  margin-top: 2rem;
  margin-left: 5.5rem;
  margin-bottom: 2rem;
  /*height: 250px; 
  width: 550px;  ANCHO*/
}

@media (max-width: 992px) {
  #grillaindex {
    width: auto;
  }
  .sectionclientes h4, .sectionclientes .sectiontop5 li, .sectiontop5 .sectionclientes li {
    margin-left: 3rem;
    /*display: flex;
    justify-content: flex-start;  */
  }
  .sectionclientes img {
    width: 500px;
    height: 200px;
    margin-top: 2rem;
    margin-left: 5.5rem;
    /*height: 200px;
    width: 500px;  ANCHO*/
    /*margin-right: 3.5rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;*/
  }
}
@media (max-width: 576px) {
  #grillaindex {
    width: auto;
  }
  .sectionclientes h4, .sectionclientes .sectiontop5 li, .sectiontop5 .sectionclientes li {
    margin-left: 2.5rem;
    display: flex;
    justify-content: center;
  }
  .sectionclientes img {
    width: 250px;
    height: 130px;
    margin-top: 2rem;
    margin-left: 2.5rem;
    /*height: 130px; 
    width: 250px;  ANCHO
    margin-right: 3rem;
    margin-left: 2.5rem;
    display: flex;
    justify-content: center;*/
  }
  .sectiontop5 li {
    display: flex;
    justify-content: center;
  }
}
#cuestionario {
  color: rgb(27, 27, 27);
  padding: 3.5rem;
  margin: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contacto_main {
  margin-top: 8.5rem;
  margin-left: 2rem;
  margin-right: 10rem;
}

.clientes_main {
  margin-top: 8.5rem;
  margin-left: 3rem;
}

.clientes_pagina li {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.clientes_pagina li p {
  color: white;
}
.clientes_pagina li img {
  width: 500px;
  height: 300px;
  /*height: 300px; 
  width: 500px;  */
  margin: 15px 20px 10px 20px;
}
.clientes_pagina li img:hover {
  transform: scale(1.5);
}

.clientes_fin {
  /*@include tit_marg(.5rem,3.5rem);
  margin-right: 5rem;*/
  margin: 0.5rem 5rem 5rem 3.5rem;
}

@media (max-width: 992px) {
  .clientes_pagina li {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  .clientes_pagina li p {
    color: white;
  }
  .clientes_pagina li img {
    width: 400px;
    height: 200px;
    /*height: 300px; ALTO*/
    /*width: 500px;  ANCHO*/
    margin: 15px 5px 10px 2.5px;
  }
  .clientes_fin {
    /*@include tit_marg(.5rem,3.5rem);
    margin-right: 5rem;*/
    margin: 0.5rem 2rem 5rem 1rem;
  }
}
@media (max-width: 576px) {
  #grillaclientes {
    width: auto;
  }
  #grillaclientes .clientes_main {
    margin: 8.5rem 2rem none 1.5rem;
    /*margin-left: 2rem;
    font-family: 'Bitter', serif;
    margin-top: 8.5rem;
    margin-left: 2rem;
    margin-right: 10rem;*/
  }
  #grillaclientes .clientes_pagina li {
    list-style-type: none;
  }
  #grillaclientes .clientes_pagina li p {
    color: white;
  }
  #grillaclientes .clientes_pagina li img {
    width: 200px;
    height: 80px;
    margin: 15px 10px 10px 1.5px;
    /*height: 170px; ALTO*/
    /*width: 330px;  ANCHO*/
  }
  #grillaclientes .clientes_fin {
    margin: 0.5rem 1.5rem 3rem 1.5rem;
  }
}
.modelo {
  width: 100%;
}
.modelo li {
  list-style-type: none;
}
.modelo li p {
  display: flex;
  justify-content: center;
}

.modelos_main {
  margin-top: 8.5rem;
  margin-left: 2rem;
  margin-right: 10rem;
}

.modelos_h3 {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
  .modelo {
    width: 100%;
  }
  .modelo li picture {
    display: flex;
    justify-content: center;
  }
}
.nosotros_main {
  margin-top: 8.5rem;
  margin-left: 3rem;
  margin-right: 5rem;
}

.nosotros_video {
  margin-top: 2.5rem;
  margin-left: 3rem;
}
.nosotros_video iframe {
  width: 800px;
  height: 500px;
}

.nosotros_final {
  margin-top: 2.5rem;
  margin-left: 3rem;
  margin-right: 5rem;
}

@media (max-width: 992px) {
  .nosotros_main {
    margin-top: 8.5rem;
    margin-left: 3rem;
    margin-right: 5rem;
  }
  .nosotros_video {
    margin-top: 2.5rem;
    margin-left: 3rem;
  }
  .nosotros_video iframe {
    width: 500px;
    height: 200px;
  }
  .nosotros_final {
    margin-top: 2.5rem;
    margin-left: 3rem;
    margin-right: 5rem;
  }
}
@media (max-width: 576px) {
  .nosotros_video {
    margin-top: 2.5rem;
    margin-left: 3rem;
  }
  .nosotros_video iframe {
    width: 350px;
    height: 150px;
  }
}
#piepagina {
  background-image: linear-gradient(to top, #03237C, white);
  margin-right: 0.5rem;
  padding: 3.5rem;
  width: 100%;
  height: auto;
}
#piepagina img {
  width: 22px;
  height: 22px;
  /*height: 22px; ALTO
  width: 22px;  ANCHO*/
  margin: 5px 15px 5px 10px;
}
#piepagina .flecha {
  display: flex;
  justify-content: flex-end;
  /*height: 25px; ALTO
  width: 25px;*/
}
#piepagina h3, #piepagina p {
  text-decoration: none;
  font-size: small;
  color: rgb(27, 27, 27);
  font-family: "Bitter", serif;
  align-items: flex-end;
}
@media (max-width: 576px) {
  #piepagina {
    background-image: linear-gradient(to top, #4C76EB, white);
    margin-right: 0.5rem;
    padding: 3.5rem;
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
