.clientes_pagina{
    li{
        list-style-type: none;
        display: flex;
        justify-content: center;
        p{
            color: white;
        }
        img{
            height: 300px; /*ALTO*/
            width: 500px;  /*ANCHO*/
            margin: 15px 20px 10px 20px;
        }
        img:hover{
            transform: scale(1.5);
        }
    }
}