.clientes_main{
    @include tit_marg(8.5rem,3rem);
    //margin-top: 8.5rem;
    //margin-left: 2rem;
    //margin-right: 10rem;
}
.clientes_pagina{
    li{
        list-style-type: none;
        display: flex;
        justify-content: center;
        p{
            color: white;
        }
        img{
            @include img_tam(500px,300px);
            /*height: 300px; 
            width: 500px;  */
            margin: 15px 20px 10px 20px;
        }
        img:hover{
            transform: scale(1.5);
        }
    }
}
.clientes_fin {
    /*@include tit_marg(.5rem,3.5rem);
    margin-right: 5rem;*/
    margin: .5rem 5rem 5rem 3.5rem;
}
@media(max-width:992px){
    
    .clientes_pagina{
        li{
            list-style-type: none;
            display: flex;
            justify-content: center;
            
            p{
                color: white;
            }
            img{
                @include img_tam(400px,200px);
                /*height: 300px; ALTO*/
                /*width: 500px;  ANCHO*/
                margin: 15px 5px 10px 2.5px;
            }
            
        }
    }
    .clientes_fin {
        /*@include tit_marg(.5rem,3.5rem);
        margin-right: 5rem;*/
        margin: .5rem 2rem 5rem 1rem;
    }
}
@media(max-width:576px){
    #grillaclientes{
        width: auto;
    
    .clientes_main{
        margin: 8.5rem 2rem none 1.5rem;
        /*margin-left: 2rem;
        font-family: 'Bitter', serif;
        margin-top: 8.5rem;
        margin-left: 2rem;
        margin-right: 10rem;*/
    }
    .clientes_pagina{
        li{
            list-style-type: none;
            
            p{
                color: white;
            }
            img{
                @include img_tam(200px,80px);
                margin: 15px 10px 10px 1.5px;
                /*height: 170px; ALTO*/
                /*width: 330px;  ANCHO*/
                //margin: 1rem;
            }
           
        }
    }
    .clientes_fin{
        margin: .5rem 1.5rem 3rem 1.5rem;
    }
}
}