#cuestionario{
    background: #03237C;
    color: #4C76EB;
    padding: 3.5rem;
    margin: 1rem 1.5rem 1rem 1.5rem;
    display: flex;  
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}