#piepagina{
    background-color: #0D1C45;
    color: #4C76EB;
    margin-right: 0.5rem ;
    padding: 4.5rem;
    width: 100%;
    height: auto;

    h3{
        text-decoration: none ;
        font-size: small;
        color: #4C76EB;
        font-family: 'Bitter', serif;
    }
    p{
        @extend h3;
    }
}