#piepagina{
    background-color: #0D1C45;
    color: #4C76EB;
    margin-right: 0.5rem ;
    padding: 4.5rem;
    /*border-top: solid 15px #03237C;
    border-right: solid 1.5rem #03237C;
    border-bottom: solid 1.5rem #03237C;
    border-left: solid 1.5rem #03237C;
    border-top: solid 1rem #03237C;*/
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    height: auto;

}
#piepagina a{
    text-decoration: none ;
    color: #4C76EB;
    font-family: 'Libre Baskerville', serif;
}