#piepagina{
    background-image: linear-gradient(to top, #03237C,white);
    margin-right: 0.5rem ;
    padding: 3.5rem;
    width: 100%;
    height: auto;
    img{
        @include img_tam(22px,22px);
        margin: 5px 15px 5px 10px;
    }
    .flecha{
        display: flex;
        justify-content: flex-end;
    }
    h3{
        text-decoration: none ;
        font-size: small;
        color: rgb(27, 27, 27);
        font-family: 'Bitter', serif;
        align-items: flex-end;
    }
    p{
        @extend h3;
        
    }
}
@media(max-width:576px){
    #piepagina{
        background-image: linear-gradient(to top, #4C76EB,white);
        margin-right: 0.5rem ;
        padding: 3.5rem;
        width: 100%;
        height: auto;
    }
}