#encabezado{
    display: flex;  
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: .5rem;
    width: 100%;
}

.navbar a{
    font-size: x-large;
    padding: .5rem 2.5rem .5rem 2rem;
}
.navbar a:hover{
    color: #4C76EB;
}
.navbar img{
    /*@include img_tam(210px,100px);*/
    height: 100px; 
    width: 210px;  /*ANCHO*/
}
