#grillaindex{
    width: 100%;
}
.index_main{
    width: 90%;
    @include tit_marg(8.5rem,3rem);
    p{
        width: 95%;
    }
}
.sectiontop5{
    h4{
        @include tit_marg(1.5rem,3rem);
    }
}

.sectionclientes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    h3{
        @include tit_marg(.5rem,3rem);
        width: 100%;
    }
    ul{
        list-style-type: none;
        
        .pictin {
            
            padding: 1.5rem;
            border: .05px solid rgb(253, 252, 250);
            margin-bottom: 2rem;
            background-color: rgb(252, 250, 250);
            img{
                @include img_tam(610px,320px);
            }
        }
        
    }
    
    
}

@media(max-width:580px){
    #grillaindex{
        width: auto;
    }
    .sectionclientes{
        width: 95%;
        h3{
            @include tit_marg(.5rem,3rem);
        }
        ul{
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .pictin {
                
                padding: 1.5rem;
                border: .05px solid rgb(253, 252, 250);
                margin-bottom: 1rem;
                background-color: rgb(252, 250, 250);
                img{
                    @include img_tam(180px,120px);
                }
            }
            
        }
        
        
    }
}
