#grillaindex{
    width: 100%;
}
.index_main{
    width: 90%;
    @include tit_marg(8.5rem,3rem);
    /*margin-top: 8.5rem;
    margin-left: 3rem;*/
    //margin-right: 10rem;
    p{
        width: 95%;
    }
}
.sectiontop5{
    h4{
        @include tit_marg(1.5rem,3rem);
    }
    li{
        list-style-type: none;
        @extend h4;
        //margin: 2rem;
    }
}

.sectionclientes{
    width: 100%;
    h4{
        @include tit_marg(.5rem,3rem);
        //margin-left: 3.5rem;
        //display: flex;
        //justify-content: flex-start;    
    }
    /*.carousel{
        display: flex;
        justify-self: center;
    }
    .carousel-item{
        @extend .carousel-inner;
    }*/
    img{
        @include img_tam(640px,350px);
        @include tit_marg(2rem,5.5rem);
        margin-bottom: 2rem;
        /*height: 250px; 
        width: 550px;  ANCHO*/
        //margin-right: 3.5rem;
        //margin-left: 5.5rem;
        //justify-self: center;
    }
}
@media(max-width:992px){
    #grillaindex{
        width: auto;
    }
    .sectionclientes{
        
        h4{
            margin-left: 3rem;
            /*display: flex;
            justify-content: flex-start;  */  
        }
        img{
            @include img_tam(500px,200px);
            @include tit_marg(2rem,5.5rem);
            /*height: 200px;
            width: 500px;  ANCHO*/
            /*margin-right: 3.5rem;
            margin-left: 3rem;
            display: flex;
            justify-content: center;*/
        }
    }
}
@media(max-width:576px){
    #grillaindex{
        width: auto;
    }
    .sectionclientes{
        h4{
            margin-left: 2.5rem;
            display: flex;
            justify-content: center;    
        }
        img{
            @include img_tam(250px,130px);
            @include tit_marg(2rem,2.5rem);
            /*height: 130px; 
            width: 250px;  ANCHO
            margin-right: 3rem;
            margin-left: 2.5rem;
            display: flex;
            justify-content: center;*/
        }
    }
    .sectiontop5{
        li{
            display: flex;
            justify-content: center;  
        }
    }
}