.nosotros_main{
    margin-top: 8.5rem;
    margin-left: 2rem;
    margin-right: 10rem;
}
/*.video{
    width="500" ;
    height="400";
}*/
.video{
    width: 90%;
    display: flex;
    justify-self: center;
}