.nosotros_main{
    @include tit_marg(8.5rem,3rem);
    margin-right: 5rem;
}

.nosotros_video{
    @include tit_marg(2.5rem,3rem);
    iframe{
    width:800px ;
    height:500px;
    }
}
.nosotros_final{
    @include tit_marg(2.5rem,3rem);
    margin-right: 5rem;
}

@media(max-width:992px){
    .nosotros_main{
        @include tit_marg(8.5rem,3rem);
        margin-right: 5rem;
    }
    
    .nosotros_video{
        @include tit_marg(2.5rem,3rem);
        iframe{
        width:500px ;
        height:200px;
        }
    }
    .nosotros_final{
        @include tit_marg(2.5rem,3rem);
        margin-right: 5rem;
    }
}

@media(max-width:576px){
    .nosotros_video{
        @include tit_marg(2.5rem,3rem);
        iframe{
        width:350px ;
        height:150px;
        }
    }
}
